# The username for the user that is created on first startup
KOITO_DEFAULT_USERNAME=
# The password for the user that is created on first startup
KOITO_DEFAULT_PASSWORD=
# The URL of your subsonic compatible music server (see: https://koito.io/quickstart/navidrome/)
KOITO_SUBSONIC_PARAMS=u=<navidrome_username>&t=<navidrome_token>&s=<navidrome_salt>
# The user token to send with the relayed ListenBrainz requests
KOITO_LBZ_RELAY_TOKEN=