# General log level. This level can be set to debug, info, warn or error
EBK_LOG_LEVEL=info
# Used for encryption key, you must change it to keep your user data safe before you first run ezBookkeeping. You can get a random secret key by executing ezbookkeeping security gen-secret-key or openssl rand -base64 32
EBK_SECURITY_SECRET_KEY=
# Whether to enable user registration
EBK_USER_ENABLE_REGISTER=false
# The domain name used to access ezBookkeeping (e.g. ezbookkeeping.simonemargio.dev)
EBK_SERVER_DOMAIN=money.mydomain.com
# The full url used to access ezBookkeeping in browser (e.g. https://ezbookkeeping.simonemargio.dev/), supports placeholders: %(protocol)s, %(domain)s and %(http_port)s. If the protocol and port used to access ezBookkeeping in the browser are the same as the settings above (protocol and http_port), this option can remain at its default value
EBK_SERVER_ROOT_URL=https://money.mydomain.com
# The type of database to use
EBK_DATABASE_TYPE=sqlite3
# The path to the database file
EBK_DATABASE_DB_PATH=/ezbookkeeping/storage/ezbookkeeping.db
# User avatar provider, supports internal (Use the internal object storage to store user avatar, supports updating avatar by user self) and gravatar (updating avatar on the provider's website and match it by user's email address). Leave blank if you want to disable user avatar.
EBK_USER_AVATAR_PROVIDER=gravatar
# Whether to enable gzip compression
EBK_SERVER_ENABLE_GZIP=true
# Email configuration
EBK_MAIL_ENABLE_SMTP=true
EBK_MAIL_SMTP_HOST=
EBK_MAIL_SMTP_USER=
EBK_MAIL_SMTP_PASSWD=
EBK_MAIL_FROM_ADDRESS=
EBK_MAIL_SMTP_SKIP_TLS_VERIFY=false
# Whether to enable the "Forgot Password" feature
EBK_AUTH_ENABLE_FORGET_PASSWORD=true
# Whether to enable email verification
EBK_USER_ENABLE_EMAIL_VERIFY=true
# Whether to require user email must be verified when login
EBK_USER_ENABLE_FORCE_EMAIL_VERIFY=true