# Token obtained from Cloudflare once the tunnel is created
TUNNEL_TOKEN=
# Email configuration
SMTP_HOST=
SMTP_PORT=
SMTP_FROM=
SMTP_USERNAME=
SMTP_PASSWORD=
# Domain settings, the domain must match the address from where you access the server
DOMAIN=https://vault.mydomain.com
# Controls if new users can register
SIGNUPS_ALLOWED=false
# Controls if new users need to verify their email address upon registration
SIGNUPS_VERIFY=true
# Invitations org admins to invite users, even when signups are disabled
INVITATIONS_ALLOWED=false
# Token for the admin interface, preferably an Argon2 PCH string
ADMIN_TOKEN=
# Enables push notifications (requires key and id from https://bitwarden.com/host)
PUSH_ENABLED=true
PUSH_INSTALLATION_ID=
PUSH_INSTALLATION_KEY=
PUSH_RELAY_URI=https://api.bitwarden.eu
PUSH_IDENTITY_URI=https://identity.bitwarden.eu
# Client IP Header, used to identify the IP of the client, defaults to "X-Real-IP"
IP_HEADER=X-Forwarded-For
# Name shown in the invitation emails that don't come from a specific organization
INVITATION_ORG_NAME=
# Number of days to wait before auto-deleting a trashed item
TRASH_AUTO_DELETE_DAYS=30
# Enable WAL for the DB
ENABLE_DB_WAL=true