# Hostname of the container running Kopia
HOSTNAME=
# Username used by Kopia inside the container
USER=
# Password for connecting to backup repository
KOPIA_PASSWORD=
# Server GUI username
KOPIA_SERVER_USERNAME=
# Server GUI password
KOPIA_SERVER_PASSWORD=